/*especificidad=1*/
body {
    background-color: rgb(255, 255, 255);
}
/*especificidad=1*/
h1{
    text-align: center;
}
/*especificidad=10*/
.calculator {
    font-size: 24px;
    margin: 0 auto;
    height: 26em;
    width: 19em;
    padding: 0.5em;
    background-color: rgb(186, 186, 196);
    border-radius: 12px;
}
/*especificidad=10*/
.pantalla {
    border: 0;
    background-color: rgb(155, 155, 180);
    text-align: right;
    font-size: 28px;
    width: 15.9em;
    line-height: 2em;
    margin: 0.2em;
    margin-bottom: 0.6em;
}
/*especificidad=1*/
input {
    border: 0;
    border-radius: 5px;
    background: rgb(233, 242, 243);
    color: #1d2f36;
    font: inherit;
    margin: 0.25em;
    width: 3em;
    height: 2em;
}

/*especificidad=10*/
.op {
    background: rgb(226, 221, 221);
}

/*especificidad=10*/
.numb{
    background: rgb(255, 255, 255);
    font-weight: bold;
}
/*especificidad=10*/
.coma{
    background: rgb(255, 255, 255);
    font-weight: bold;
}