/*especificidad=1*/
body {
    background-color: rgb(255, 255, 255);
}
/*especificidad=1*/
h1{
    text-align: center;
}

/*especificidad=10*/
.calculator {
    font-size: 24px;
    margin: 0 auto;
    height: 23em;
    width: 19em;
    padding: 0.5em;
    background-color: rgb(177, 177, 226);
    border-radius: 12px;
}
/*especificidad=10*/
.pantalla{
    border: 0;
    background-color: rgb(255, 255, 255);
    text-align: right;
    font-size: 28px;
    width: 15.9em;
    line-height: 2em;
    margin: 0.2em;
    margin-bottom: 0.6em;
}
/*especificidad=100*/
#enter{
    background: rgb(211, 137, 193);
}
/*especificidad=11*/
input[type="submit"] {
    border: 0;
    border-radius: 5px;
    background: rgb(253, 253, 253);
    color: #1d2f36;
    font: inherit;
    margin: 0.25em;
    width: 3em;
    height: 2em;
}

